<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">
  <xacro:include filename="$(find agimus_demo_10_tiago_pro_bar_manip)/urdf/macro/table_macro.urdf.xacro"/>
  <link name="world"/>
  <xacro:table prefix=""/>
  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table_link"/>
    <origin xyz="2. 0 0" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
