<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="table" params="parent_link *origin">

        <joint name="${parent_link}_to_table" type="fixed">
            <parent link="${parent_link}"/>
            <child link="table_link"/>
            <origin xyz="0.6 0 -0.095" rpy="0 0 0"/>
        </joint>

        <material name="Blue">
            <color rgba="${0/255} ${30/255} ${70/255} 1.0"/>
        </material>

        <link name="table_link">
            <visual>
                <geometry>
                    <mesh filename="file://$(find agimus_demo_09_glue_spreading)/meshes/table.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Blue"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find agimus_demo_09_glue_spreading)/meshes/table.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>
</robot>
